
/* { border: 1px red solid; } */

body {

    border: 0px;
    margin: 0px;
    padding: 0px;
    background-color: #E6E6E6;
    font-family: Helvetica, Arial, sans-serif;
}

td { width: 200px; }
tr { width: 200px;}

/******* FONT CLASSES **************/



/*********** POPUP WINDOW CLASSES ******************/

.popup-bg {
	width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background-color: rgba(0,0,0,0.6);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.7em;
    background-attachment: fixed;
}

.popup-window {
	position: relative;
    width: 600px;
    height: 350px;
    background-color: rgba(255,255,255,0.9);
    padding: 20px;
    margin-left: 50%;
    left: -320px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    border-radius: 0px 0px 5px 5px;
}

/********** ELEMENT CLASSES ************************/

.btn {
	border: none;
	font-size: 1em;
    background-color: #CCC;
    width: 100px;
    height: 30px;
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.4);
    border-radius: 5px;
}

.txt {
	border: none;
    height: 25px;
    padding: 5px;
    border-radius: 3px;
}

.dropdown {
    width: 154px;
    margin-left: 1px;
}


/********* EDIT POPUP ******************************/

#edit-wrapper {
    height: auto!important;
    font-weight: bold;
}

.edit-show {

    display: block;

}

.edit-hide {

    display: none;

}

#edit-center-div {

    /*border: 1px solid green;*/

}

.edit-th {

    width: 500px;
    line-height: 20px;
    text-align: left;
    margin-top: 10px;
    font-weight: bolder;
}

.edit-td {

    padding: 10px;

}

#edit-header {

    position: relative;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: bolder;
    margin: 0 0 5px 0;
    color: #555;

}

#edit-buttons {

    margin-top: 20px;
    text-align: right;

}

.edit-button-style {

    border: none;
    width: 100px;
    height: 30px;
    margin: 5px;

}

#edit-button-save {

    width: 100px;
    height: 30px;
    margin: 5px;

}


#edit-button-delete {

    width: 213px!important;
    margin-top: 8px;
    background-color: #FA5858;

}

#edit-table {

    border-collapse: collapse;
    position: relative;
    margin-left: 50%;
    left: -140px;
    color: #555;
}

#edit-reset-div {

    position: relative;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
}

#edit-header-text {

    display: inline-block;
    height: auto;
    line-height: 40px;
    width: 600px;
    color: #29ABE2;

}